

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Helvetica.woff') format('woff');;
}

@font-face {
  font-family: 'Black';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/HelveticaBlack.woff') format('woff');
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

a:hover {
  text-decoration: none;
}

.home3 {
  display: none;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

.hideme {
    opacity:0;
}



body {
  font-family: 'Helvetica';
  padding-left: 50px;
  padding-top: 50px;
}

.box {
  display: flex;
  flex-flow: row;
}

.box > div {
  padding-right: 20px;
}

.cv {
  line 
}

.chris {
  height: 50vh;
}

.name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  ;
}


@media (pointer:none), (pointer:coarse) {}

  